div{
    position: absolute;
    z-index: 2;
}
.row-left{
    height: 110px;
    width: 200px;
    border: solid black 1px;
    border-right: none;
}
.row-right{
    height: 110px;
    width: 200px;
    border: solid black 1px;
    border-left: none;
}
.row-top{
    height: 200px;
    width: 110px;
    border: solid black 1px;
    border-bottom: none;
}
.row-middle{
    height: 200px;
    width: 110px;
    border: solid black 1px;
    border-top: none;
}
.row-bottom{
    height: 200px;
    width: 110px;
    border: solid black 1px;
    border-top: none;
}
.hidden{
    display: none;
}
.road-left{
    height: 200px;
    width: 98px;
    background-color: grey;
    border-right: yellow 1px solid;
}
.road-right{
    height: 200px;
    width: 100px;
    background-color: grey;
    border-left: yellow 1px solid;
}
.road-top{
    height:100px;
    width:558px;
    background-color: grey;
    border-bottom: yellow 1px solid;
}
.road-bottom{
    height:100px;
    width:558px;
    background-color: grey;
    border-top: yellow 1px solid;
}
.p-spot{
    background-color: lightgrey;
}
.intersection-left{
    background-color: khaki;
    height: 203px;
    width: 202px;
}
#car-entrance{
    background-color: darkgray;
    top: 1015px;
    left: 200px;
    height: 200px;
    width: 230px;
    z-index: 2;
    text-align: center;
    color: white;
    font-size: 24px;
}
#car-exit{
    background-color: darkgray;
    top: 1015px;
    left: 960px;
    height: 200px;
    width: 230px;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 24px;
}
#car-btn{
    z-index: 3;
    position: absolute;
}
#park-btn{
    z-index: 4;
    position: absolute;
}
.r90{
    transform: rotate(270deg);
}